/*  #ecb538 yellow */
/* #d8544a red */

body {
  margin: 0;
  background: #0e98e3;
  color: white;
}
.wrapper {
  display: flex;
  width: 800px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 0;
  margin: 2px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.scores {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}
.scoreBoard {
  display: flex;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
}
#turnCoin {
  width: 50px;
  height: 50px;
  border: 2px #d8544a solid;
  background: #d8544a;
  border-radius: 50px;
  align-self: center;
  text-align: center;
}
.score {
  padding: 0 30px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.playSpace {
  display: flex;
  width: 490px;
  padding: 20px 0 0 0;
  flex-direction: column;
}
.columnSelector, #gameBoard, #resetBar {
  width: 490px;
  align-self: center;
}
.columnSelector {
  height: 20px;
  background: #175DCC;
  border-radius: 20px 20px 0 0;
  margin: 40px 0 0 0;
  border-right: 7px #004fcc solid;
  /*background: rgba(23, 93, 204, .2);*/
}
#gameBoard {
  display: flex;
  justify-content: center;
  border-right: 7px #004fcc solid;
  flex: 1;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}
#resetBar {
  display: flex;
  height: 50px;
  background: #175DCC;
  border-radius: 0 0 20px 20px;
  border-right: 7px #004fcc solid;
  border-bottom: 4px #004fcc solid;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#resetSlit {
  margin: 0 0 6px 0;
  width: 70px;
  height: 15px;
  background: #175DCC;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px #004fcc solid;
  border-radius: 10px;
  transition: justify-content 1s;
}
#resetText {
  color: #175DCC;
  transition: color 1s;
}
#resetSlit:hover {
  background: #005ef3;
  color: white;
}
.resetActive {
  justify-content: flex-start;
}
#resetBtn {
  width: 40px;
  height: 15px;
  background: #d8544a;

  border-radius: 10px;
}
.fixed {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #34495e;
}
.fixed p {
  font-size: 40px;
}
.fixed:hover {
  background: #2c3e50;
}

/*#gameBoard {
  background: #175DCC;
}
.slot {
  height: 48px;
  width: 48px;
  margin: 6px;
  background: #0e98e3;
  border-radius: 50%;
  border: 3px #004fcc solid;
  align-self: flex-end;
}
.col:hover {
  background: rgba(0, 79, 204, .75);
  border-radius: 25px;
}*/
.slot.player1 {
  background: #d8544a;
}
.slot.player2 {
  background: #ecb538;
}

.slot {
  height: 50px;
  width: 50px;
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
}
.slot::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 3px #004fcc solid;
  box-shadow: 0px 7px 0px 34px #175dcc;
}
.col:hover {
  background: rgba(0, 79, 204, .3);
  border-radius: 25px;
}

