/*  #ecb538 yellow */
/* #d8544a red */

body {
  margin: 0;
  background: #0e98e3;
  color: white;
}
.wrapper {
  display: flex;
  width: 800px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 0;
  margin: 2px;;
}
p {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.scores {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}
.scoreBoard {
  display: flex;
  padding: 5px;
  justify-content: space-around;
}
#turnCoin {
  width: 50px;
  height: 50px;
  border: 2px #d8544a solid;
  background: #d8544a;
  border-radius: 50px;
  align-self: center;
}
.score {
  padding: 0 10px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.playSpace {
  display: flex;
  width: 400px;
  flex-direction: column;
}
.columnSelector, #gameBoard, #resetBtn {
  width: 595px;
  align-self: center;
}
.columnSelector {
  height: 10px;
  background: #175DCC;
  border-radius: 10px 10px 0 0;
  margin: 30px 0 0 0;
  /*background: rgba(23, 93, 204, .2);*/
}
#gameBoard {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}
#resetBtn {
  height: 30px;
  background: #175DCC;
  border-radius: 0 0 10px 10px;
}

/*#gameBoard {
  background: #175DCC;
}
.slot {
  height: 55px;
  width: 55px;
  margin: 8px;
  background: #0e98e3;
  border-radius: 50%;
  border: 3px #004fcc solid;
  align-self: flex-end;
}
.col:hover {
  background: rgba(0, 79, 204, .75);
  border-radius: 25px;
}
.slot .player1 {
  background: #d8544a;
}*/

.slot {
  height: 55px;
  width: 55px;
  position: relative;
  overflow: hidden;
  padding: 8px 15px;
}
.slot::before {
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  box-shadow: 0px 7px 0px 34px #175dcc;
}
.col:hover {
  background: rgba(0, 79, 204, .2);
  border-radius: 25px;
}

