/*  #ecb538 yellow */
/* #d8544a red */
* {
  cursor: default;
}
body {
  margin: 0;
  background: #0e98e3;
  color: #ecf0f1;
  transition: background 1s;
}
.wrapper {
  display: flex;
  width: 800px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 0;
  margin: 2px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.scoreBoard {
  display: flex;
  padding: 10px;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}
.score {
  padding: 0 30px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  transition: content .5s;
}
.scoreP1 {
  background: #d8544a;
  border: 2px solid;
  border-color: #d8544a;
  border-radius: 10px;
  transition: background 1s;
}
.scoreP2 {
  background: rgba(236, 181, 56, 0);
  border: 2px solid;
  border-color: #ecb538;
  border-radius: 10px;
  transition: background 1s;
}
.playSpace {
  display: flex;
  width: 490px;
  flex-direction: column;
}
.columnSelector, #gameBoard, #resetBar {
  width: 490px;
  align-self: center;
}
.columnSelector {
  height: 20px;
  background: #175DCC;
  border-radius: 20px 20px 0 0;
  margin: 20px 0 0 0;
  border-right: 7px solid;
  border-right-color: #004fcc;
}
#gameBoard {
  display: flex;
  justify-content: center;
  border-right: 7px solid;
  border-right-color: #004fcc;
  flex: 1;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}
#resetBar {
  display: flex;
  height: 50px;
  background: #175DCC;
  border-radius: 0 0 20px 20px;
  border-right: 7px solid;
  border-bottom: 4px solid;
  border-right-color: #004fcc;
  border-bottom-color: #004fcc;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#resetBar:hover #resetText {
  color: white;
  transition: color 1s;
}
#resetSlit {
  margin: 0 0 6px 0;
  width: 70px;
  height: 15px;
  background: #175DCC;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid;
  border-color: #004fcc;
  border-radius: 10px;
  transition: justify-content 1s;
}
#resetText {
  color: #175DCC;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  transition: color .5s;
}
.winnerText {
  content: 'WINNER';
  color: #ecf0f1 !important;
}

#resetSlit:hover {
  background: #005ef3;
  color: white;
}
.resetActive {
  justify-content: flex-end !important;
  transition: justify-content 1s;
}
#resetBtn {
  width: 40px;
  height: 15px;
  background: #d8544a;
  transition: background 1s;
  border-radius: 10px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #0e98e3;
  transition: all .2s ease-in-out;
}
.colorWrapperTop {
  display: flex;
}
.colorWrapperBottom {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.colorOne {
  width: 10px;
  height: 10px;
  border-top-left-radius: 100%;
  background: #1abc9c;
}
.colorTwo {
  width: 10px;
  height: 10px;
  border-top-right-radius: 100%;
  background: #9b59b6;
}
.boardColorOne {
  width: 10px;
  height: 10px;
  border-bottom-left-radius: 100%;
  background: #34495e;
}
.boardColorTwo {
  width: 10px;
  height: 10px;
  border-bottom-right-radius: 100%;
  background: #34495e;
}

.btn:hover {
  background: #175DCC;
  transform: scale(1.2);
}
.btn.active {
  /*transform: rotate(45deg);*/
  background: #175DCC;
}
.volume {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/*.volume p {
  font-size: 40px;
}*/

.themeOne {
  position: absolute;
  bottom: 80px;
  right: 20px;
}
.themeTwo {
  position: absolute;
  bottom: 140px;
  right: 20px;
}
.winnerP1 {
  animation: pulsePOne .5s infinite alternate !important;
}
.winnerP2 {
  animation: pulsePTwo .5s infinite alternate !important;
}
.player1 {
  background: #d8544a;
}
.player2 {
  background: #ecb538;
}

.cell {
  height: 50px;
  width: 50px;
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
}
.cell::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 3px solid;
  border-color: #004fcc;
  box-shadow: 0px 7px 0px 34px #175dcc;
  transition: border-color 1s;
}
.cell.starWars::before {
  border-color: #7f8c8d;
  box-shadow: 0px 7px 0px 34px #95a5a6;
}
.col:hover {
  cursor: pointer;
  background: rgba(0, 79, 204, .3);
  border-radius: 25px;
}
.piece {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: #d8544a;
  position: relative;
  z-index: -1;
}
@keyframes pulsePOne {
  0% {
    background-color: #d8544a;
  }
  100% {
    background-color: #A54039;
  }
}
@keyframes pulsePTwo {
  0% {
    background-color: #ecb538;
  }
  100% {
    background-color: #B98E2C;
  }
}

@media


